<div>
<h2>Initialiser la DB d'EHPAD</h2>
<%= link_to "Initialiser la DB d'EHPAD", initiate_database_path %>

</div>
<%= link_to "Initialiser les prix et les services", initiate_prices_db_path %>
<div>

<h2>Nombre d'établissements en DB</h2>
<p><%= Etablissement.count  %></p>
</div>
