
<div class="greener-card text-center">
<h2>Merci d'avoir pris le temps de remplir ce formulaire</h2>
<p>Notre équipe reviendra vers vous au plus vite pour vous proposer un
accompagnement personnalisé</p>
<p>Nous proposons deux formules, la première axée principalement sur la recherche de l'établissement,
la seconde comprenant également la réalisation de l'ensemble des démarches administratives</p>
<p>Nous insistons sur le fait que nous sommes les seuls à proposer ce service et que nous n'avons
aucun partenariat de quelque sorte que ce soit avec une quelconque maison, nous garantissons notre impartialité.</p>
</div>
<%= link_to 'Retourner à la page d\'accueil', root_path, class:"btn btn-yellow" %>
