<footer>
<%# haut du footer %>
  <div>

  </div>

<%# bas du footer %>
  <div class="footer-green">


  <%= link_to "Accueil", root_path  %>
  <%= link_to "Contact", contact_path %>
  <%=  link_to "Mentions légales", mentions_path %>


  </div>



</footer>
