<h1>Contact</h1>

<p>Vous cherchez à nous joindre ?</p>
<p>Notre équipe se fera un plaisir de vous répondre</p>

<p style="color: #115358"><i class="fa-solid fa-phone" style="color: #115358;"></i> 06.65.47.54.95.</p>
<p style="color: #115358"><i class="fa-solid fa-envelope" style="color: #115358;"></i> contact@facilehpad.com</p>

<%=  image_tag("contact.png", alt: "Photo d'un homme parlant au téléphone", class: "hp-section4-icon2") %>
