<h1>Mentions légales</h1>

  <h2>1. Informations légales</h2>
    <p>Conformément aux dispositions de l’article 6 III-1 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, Service à la personne facile vous informe des éléments suivants :</p>
      <li>Le site www.facilehpad.com (le <strong>"Le Site"</strong>) est édité par Martin BOULLAND en qualité de particulier, employable par le dispositif CESU. </li>
      <li>Téléphone: 0665475495, Email: contact@facilehpad.com</li>
      <li>Le directeur de la publication du site est Monsieur Martin BOULLAND</li>
      <li>Le site est hebergé par la société Scalingo, email: support@scalingo.com </li>
      <li>Conception et réalisation : Service à la personne facile</li>
  <h2>2. Protection des données à caractère personnel</h2>
    <h3>2.1.Collecte de données à caractère personnel</h3>
    <p>Vous autorisez Martin Boulland, en qualité de responsable de traitement, à collecter les données à caractère personnel vous concernant lors de votre navigation sur le Site.
    Martin Boulland veille à ne collecter que des données strictement nécessaires à la finalité des traitements mis en œuvre.
    Certaines données collectées ont un caractère nécessaire et sont signalées par un astérisque. Dans l’hypothèse où vous refuseriez de communiquer lesdites données, Martin Boulland se réserve le droit de ne pas traiter votre demande.
    Vos données à caractère personnel sont destinées à Martin BOULLAND, Martin Boulland, son réseau de franchisés Martin BOULLAND et à ses prestataires de services informatiques, pour répondre aux différents services proposés par le Site, à des fins de gestion administrative, commerciale et/ou d’assistance informatique.
    Vos données sont traitées principalement pour les finalités suivantes :
    Répondre à vos demandes (demande de devis, demande de renseignement, candidatures…)
    Envoyer des offres commerciales et des newsletters aux prospects/clients
    Les traitements de données à caractère personnel mis en œuvre dans le cadre du Site sont intégrés au sein du registre des traitements tenu par le délégué à la protection des données de Martin Boulland.
    </p>

<h3>2.2 Vos droits relatifs à la collecte et au traitement de vos données à caractère personnel</h3>
<p>Vous disposez d’un droit d’accès, de rectification, d’effacement et à la portabilité de vos données. Vous pouvez également demander la limitation du traitement des données vous concernant ou vous opposer à ce traitement.
Vous êtes en droit de communiquer vos directives relatives au sort des données personnelles vous concernant en cas de décès.
Pour exercer ces droits, veuillez contacter le délégué à la protection des données, Monsieur Martin BOULLAND par courrier postal au 6 cité Dupetit Thouars, 75003 Paris ou par courrier électronique à contact@facilehpad.com accompagné d’une copie d’un titre d’identité en cours de validité.
En cas de non-respect de vos droits, vous pouvez introduire une réclamation auprès de la CNIL.</p>

<h3>2.3. Offres de recrutement</h3>
<p>En soumettant le dossier ou le questionnaire d'informations,
 vous acceptez d'être recontacté par Martin Boulland dans le cadre d'une embauche
  éventuelle au CESU + pour une prestation d'assistance administrative.</p>
<p>Vous êtes susceptible d’être contacté par Martin BOULLAND par téléphone pour recevoir ses offres de services.
A cet effet, vous êtes informés de l’existence d’une liste d’opposition au démarchage téléphonique « Bloctel »,
sur laquelle vous pouvez vous inscrire ici : https://inscription.bloctel.fr/.</p>

<h3>2.4. Opposition à recevoir des offres commerciales / désinscription à la newsletter</h3>
<p>Vous pouvez à tout moment et sans frais, vous opposer à l’envoi d’offres
commerciales et/ou vous désinscrire à la newsletter en adressant un message à
contact@facilehpad.com ou en cliquant sur le lien se désinscrire en bas de chaque
courriel envoyé par Martin BOULLAND.</p>

<h3>Durée de conservation des données</h3>
<p>Martin BOULLAND ne conserve vos données à caractère personnel que pendant le temps
nécessaire aux opérations pour lesquelles elles ont été collectées et dans le respect
 de la réglementation en vigueur.</p>

<li>Les données à caractère personnel relatives aux clients collectées et traitées
dans le cadre des services d’aide à domicile, pour répondre aux besoins et demandes
du client, peuvent être conservées pendant un délai de cinq ans à compter de l’année
de dernière intervention chez le client.</li>
<li>Les données à caractère personnel relatives aux clients utilisées à des fins
de prospection commerciale peuvent être conservées pendant un délai de trois ans à
compter de l’année de dernière intervention chez le client.</li>
<li>Les données à caractère personnel relatives aux prospects utilisées à des fins de prospection commerciale peuvent être conservées pendant un délai de trois ans à compter du dernier contact émanant du prospect (demande de documentation par exemple).
Avant le terme de ce délai de trois ans, Martin BOULLAND pourra reprendre
contact avec la personne concernée afin de savoir si elle souhaite continuer à
recevoir des offres commerciales. En l’absence de réponse positive et explicite
 de la personne concernée, les données à caractère personnel ne pourront plus
  être utilisées pour lui envoyer de la prospection commerciale.</li>
<li>Les cookies déposés sur le terminal de l’internaute sont conservés pendant
une durée de 13 mois à compter de leur 1er dépôt dans l’équipement terminal de
l’utilisateur (faisant suite à l’expression du consentement).</li>
<p>Lorsqu’il existe un recours contre un tiers ou un contentieux, vos données
à caractère personnel peuvent être conservées jusqu’à l’intervention de la
décision définitive.</p>

<h3>Déclaration de non affiliation</h3>
<p>Il est porté à la connaissance des utilisateurs de ce site que Martin BOULLAND
n'est en lien avec aucun établissement de santé
ou n'est affilié d'une quelconque manière à un établissement ou à une marque
des maison de retraite ou des EHPAD.</p>
