<h1>Qui sommes nous ?</h1>

<h2>Le créateur du service</h2>
<h3>Martin BOULLAND</h3>
<p>Ancien policier, j'évolue dans l'écosystème social depuis longtemps.
J'ai souvent été confronté à la détresse des familles, des proches ou des usagers
 lorsqu'il s'agissait d'affronter les épreuves de la vie. Familier des aspects
 administratifs de nos vies, je suis conscient que choisir une structure et s'occuper
  de l'ensemble des démarches peut être éprouvant. C'est pourquoi j'ai créé ce service,
   qui doit permettre aux gens de se concentrer sur ce qui compte vraiment en confiant
   l'administratif et les recherches à des experts indépendants.</p>
<p>Un autre point particulièrement important à mes yeux est l'impartialité.
L'écosystème des résidences pour seniors est trop souvent l'objet de compromis et
 d'arrangements divers visant à profiter des difficultés des gens. Les sites ou
 les services indiquant qu'ils sont gratuits pour les usagers bénéficient de commissions
 au placement, faussant complètement les recherches, ou appartiennent à des grands
  groupes possédant des établissements. Je voulais créer un service que j'aurais pu
  utiliser moi-même, que je pourrais conseiller sans craindre que la détresse d'un
  proche ne soit exploitée.</p>

<p>Nous avons à cœur de vous aider et de vous simplifier la vie.</p>

<h2>L'équipe</h2>
<p>L'équipe autour de FacilEhpad est composée de conseillers spécialisés vers
lesquels les usagers peuvent se tourner pour pouvoir vous soumettre les établissements
les plus cohérents avec votre recherche.</p>

<h2>Comment fonctionnons nous?</h2>
<p>Après avoir été soumise, votre demande fera l'objet d'un traitement de notre part,
nous établirons une première séléction. Nous vous contacterons pour prendre de plus amples informations et affiner notre
suggestion. A l'issue de cet entretien, nous serons en mesure de vous proposer notre selection de 2 établissements avec lesquels
nous aurons pris contact. Vous aurez un comparatif détaillé et vous pourrez selectionner l'établissement que vous souhaitez rencontrer.
Nous nous occuperons ensuite de faire les démarches d'admission et les demandes d'aides pour vous.</p>
<p>L'ensemble du service se fait via le CESU+, un contrat est signé et le coût est fixe pour vous : 249€ pour la recherche
d'établissement et 499€ pour la recherche et la réalisation de l'ensemble des démarches administratives. Vous aurez la possibilité de discuter de la formule adaptée avec votre conseiller.
</p>
