.green-card{
background-color: #BEDCDF ;
border-radius: 16px;
padding: 5%;
margin: 5%;
width:90%;
color: #115358;
}



.form-control {
border-radius: 10px !important;
}


.greener-card{
  background-color: #BEDCDF ;
  border-radius: 16px;
  padding: 5%;
  margin: 5%;
  width:90%;
  color: #031314;
  }
