#section1 .hp-section1-title {
  font-size: 30px;
  line-height: 37px;
}

#section1 h1 {
  font-variation-settings: 'wght' 900;
  font-size: 3.125em;
  line-height: 60px;
  letter-spacing: 0.015em;
  color: #115358;
}

#section1 .hp-section1-text {
  font-variation-settings: 'wght' 400;
  font-size: 15px;
  margin-top: 30px;
  max-width: 814px;
  line-height: 25px;
  height: fit-content;
}

#section2 .hp-section2-content-right-element-content-title {
  font-variation-settings: 'wght' 800;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #115358;
  margin-bottom: 18px;
}

#section2 .hp-section2-content-right-element-content-text {
  font-variation-settings: 'wght' 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 486px;
  padding-bottom: 30px;
  text-align: justify;
}



#hp-section-3 .hp-section3-case-title {
    font-variation-settings: 'wght' 800;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
    width: 100%;
    margin: 20px 0 10px 0;
}


#hp-section-3 .hp-section3-header-right-text {
    font-variation-settings: 'wght' 400;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
}


#hp-section-3 .hp-section3-case-text {
    font-size: 13px;
    line-height: 19px;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
}



#section4 .hp-section4-content-element-title {
    font-variation-settings: 'wght' 900;
    font-size: 22px;
    line-height: 36px;
}



#section4 .hp-section4-content-element-text {
    font-variation-settings: 'wght' 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: justify;
}

.quizz-part-title{
  font-variation-settings: 'wght' 900;
  font-size: 200%;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #115358;
  font-family: 'Work Sans', sans-serif;
}

.col-form-label {
  font-weight: 700;
  font-size: 120%;
  font-family: 'Work Sans', sans-serif;
}

label{
  font-weight: 500;
  font-size: 110%;
  align-items: start;
  font-family: 'Work Sans', sans-serif;
}

.form-label{
  font-weight: 700;
  font-size: 120%;
  font-family: 'Work Sans', sans-serif;
}
